@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    font-family: 'Lato', sans-serif;
    color: white;
}

.section5,
.section5 .languages-wrapper {
    position: relative;
    width: 100%;
    height: max-content;
}

.section5 .languages-wrapper {
    padding: 50px 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.section5 .languages-wrapper .languages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    width: 550px;
    height: 550px;
    max-width: 550px;
    max-height: 550px;
    /* overflow: hidden; */
    border-radius: 50%;
    animation: rotate 50s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.section5 .languages-wrapper .languages-list .language {
    cursor: pointer;
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 27, 34, 0.75);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 9999999999999999;
    transition: 0.2s ease-in-out;
}

.section5 .languages-wrapper .languages-list .language:not(.centre-art):hover {
    width: 90px;
    height: 90px;
    border-radius: 25px;
}

.section5 .languages-wrapper .languages-list .language:not(.centre-art):hover img {
    width: 60px;
    height: 60px;
    transition: 0.2s ease-in-out;
}

.section5 .languages-wrapper .languages-list .language img {
    width: 50px;
    height: 50px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.section5 .languages-wrapper .languages-list .centre-art {
    width: 550px;
    height: 550px;
    border: 0px;
    background-color: transparent;
    transition: 5s ease-in-out;
    animation: move-centre-art 5s linear infinite;
}

.section5 .languages-wrapper .languages-list .centre-art img {
    width: 550px;
    height: 400px;
    margin-right: -20px;
    animation: rotate-back-centre-art 50s linear infinite;
}

@keyframes rotate-back-centre-art {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes move-centre-art {
    0%,
    100% {
        transform: translateX(15px);
    }
    50% {
        transform: translateX(-15px);
    }
}


/* ----------------------------- */

.section5 .languages-wrapper .languages-list .language.nodejs {
    transform: rotate(360deg) translate(225px) rotate(-360deg);
}

.section5 .languages-wrapper .languages-list .language.nodejs img {
    animation: rotate-back-nodejs 50s linear infinite;
}

@keyframes rotate-back-nodejs {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.python {
    transform: rotate(40deg) translate(225px) rotate(-40deg);
}

.section5 .languages-wrapper .languages-list .language.python img {
    animation: rotate-back-python 50s linear infinite;
}

@keyframes rotate-back-python {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.reactjs {
    transform: rotate(80deg) translate(225px) rotate(-80deg);
}

.section5 .languages-wrapper .languages-list .language.reactjs img {
    animation: rotate-back-reactjs 50s linear infinite;
}

@keyframes rotate-back-reactjs {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.sql {
    transform: rotate(120deg) translate(225px) rotate(-120deg);
}

.section5 .languages-wrapper .languages-list .language.sql img {
    animation: rotate-back-sql 50s linear infinite;
}

@keyframes rotate-back-sql {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.html {
    transform: rotate(160deg) translate(225px) rotate(-160deg);
}

.section5 .languages-wrapper .languages-list .language.html img {
    animation: rotate-back-html 50s linear infinite;
}

@keyframes rotate-back-html {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.firebase {
    transform: rotate(200deg) translate(225px) rotate(-200deg);
}

.section5 .languages-wrapper .languages-list .language.firebase img {
    animation: rotate-back-firebase 50s linear infinite;
}

@keyframes rotate-back-firebase {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.js {
    transform: rotate(240deg) translate(225px) rotate(-240deg);
}

.section5 .languages-wrapper .languages-list .language.js img {
    animation: rotate-back-js 50s linear infinite;
}

@keyframes rotate-back-js {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.css {
    transform: rotate(280deg) translate(225px) rotate(-280deg);
}

.section5 .languages-wrapper .languages-list .language.css img {
    animation: rotate-back-css 50s linear infinite;
}

@keyframes rotate-back-css {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

.section5 .languages-wrapper .languages-list .language.api {
    transform: rotate(320deg) translate(225px) rotate(-320deg);
}

.section5 .languages-wrapper .languages-list .language.api img {
    animation: rotate-back-api 50s linear infinite;
}

@keyframes rotate-back-api {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* ------------------------------ */

@media only screen and (max-width: 650px) {
    .section5 .languages-wrapper {
        justify-content: center;
        padding: 50px 10px;
        width: calc(100% - 10px);
    }
    .section5 .languages-wrapper .languages-list {
        width: 300px;
        height: 300px;
    }
    .section5 .languages-wrapper .languages-list .language {
        width: 50px;
        height: 50px;
    }
    .section5 .languages-wrapper .languages-list .language img {
        width: 30px;
        height: 30px;
    }
    .section5 .languages-wrapper .languages-list .centre-art {
        width: 200px;
        height: 200px;
    }
    .section5 .languages-wrapper .languages-list .centre-art img {
        width: 300px;
        height: 225px;
    }
    /* --------------------------------------------------------- */
    .section5 .languages-wrapper .languages-list .language.nodejs {
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
    .section5 .languages-wrapper .languages-list .language.python {
        transform: rotate(40deg) translate(150px) rotate(-40deg);
    }
    .section5 .languages-wrapper .languages-list .language.reactjs {
        transform: rotate(80deg) translate(150px) rotate(-80deg);
    }
    .section5 .languages-wrapper .languages-list .language.sql {
        transform: rotate(120deg) translate(150px) rotate(-120deg);
    }
    .section5 .languages-wrapper .languages-list .language.html {
        transform: rotate(160deg) translate(150px) rotate(-160deg);
    }
    .section5 .languages-wrapper .languages-list .language.firebase {
        transform: rotate(200deg) translate(150px) rotate(-200deg);
    }
    .section5 .languages-wrapper .languages-list .language.js {
        transform: rotate(240deg) translate(150px) rotate(-240deg);
    }
    .section5 .languages-wrapper .languages-list .language.css {
        transform: rotate(280deg) translate(150px) rotate(-280deg);
    }
    .section5 .languages-wrapper .languages-list .language.api {
        transform: rotate(320deg) translate(150px) rotate(-320deg);
    }
    /* -------- */
}


/* -------- Languages TimeLine Code goes here ---------- */

.section5 .languages-wrapper .languages-timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(100% - 750px);
    width: 500px;
    height: 550px;
    /* background-color: rgb(61, 61, 61); */
}

.languages-wrapper .languages-timeline .language-header {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.languages-wrapper .languages-timeline .timeline {
    position: relative;
    padding: 10px 20px 10px 10%;
    width: calc(100% - 20px);
}

.languages-wrapper .languages-timeline .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 2px;
    height: 100%;
    background-color: #a100ff;
}

.languages-wrapper .languages-timeline .timeline .language {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0 0 50px;
    width: calc(100% - 50px)
}

.languages-wrapper .languages-timeline .timeline .language:first-child {
    margin-top: 0;
}

.languages-wrapper .languages-timeline .timeline .language:last-child {
    margin-bottom: 0;
}

.languages-wrapper .languages-timeline .timeline .language .logo {
    position: relative;
}

.languages-wrapper .languages-timeline .timeline .language .logo::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -70px;
    width: 50px;
    height: 2px;
    background-color: #a100ff;
}

.languages-wrapper .languages-timeline .timeline .language .logo::after {
    content: "";
    position: absolute;
    top: 23px;
    left: -27.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aliceblue;
}

.languages-wrapper .languages-timeline .timeline .language .information {
    margin-left: 10px;
}

.languages-wrapper .languages-timeline .timeline .language .information .title {
    font-size: 25px;
    font-weight: 600;
}

@media only screen and (max-width: 1280px) {
    .section5 .languages-wrapper .languages-timeline {
        margin-top: 100px;
    }
    .section5 .languages-wrapper {
        justify-content: center !important;
    }
}