<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/projects.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/section3.css">
    <link rel="stylesheet" href="css/otherProjects.css">
    <link rel="stylesheet" href="css/languages.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="main.js"></script>
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <div class="h-container">
                <div class="brand">Bibek</div>
                <div class="search"></div>
                <div class="hamburger"><i class="bi bi-list"></i></div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section1">
            <div class="text">
                <div class="intro-text">
                    <p>turning ideas into</p>
                    <p>real life <a class="text-animation">products</a></p>
                    <p>is my calling.</p>
                </div>
                <div class="caption"><a href="#">ABOUT ME</a></div>
            </div>
        </div>

        <div class="section3">
            <div class="about-me-wrapper">
                <div class="about-me-container">
                    <div class="fixed-header"></div>
                    <div class="circle-parent">
                        <div class="circle"></div>
                    </div>

                    <div class="list">
                        <div class="item item1">
                            <span>Joined GCE A Levels at <a>SXC</a> .</span>
                            <small>Currently studying <a>Computer Science</a> as a major.</small>
                        </div>

                        <div class="item item2">
                            <span><a>Member</a> of IT Club at SXC.</span>
                            <small>Creative <a>Frontend Developer</a></small>
                        </div>

                        <div class="item item3">
                            <span>Developed Multiple <a>Projects</a></span>
                            <small>Creative <a>Frontend Developer</a></small>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section-heading"><a href="#">Languages</a></div>
        <div class="section5">
            <div class="languages-wrapper">
                <div class="languages-list">
                    <div class="centre-art language"><img src="../assets/art.png" alt="Vector Art"></div>
                    <div class="language nodejs"> <img src="../assets/nodejs.svg" alt="Node JS"></div>
                    <div class="language python"><img src="../assets/python.svg" alt="Python"></div>
                    <div class="language reactjs"><img src="../assets/react.svg" alt="React JS"></div>
                    <div class="language sql"><img src="../assets/sql.svg" alt="MySQL"></div>
                    <div class="language html"><img src="../assets/html.svg" alt="HTML"></div>
                    <div class="language firebase"><img src="../assets/firebase.svg" alt="firebase"></div>
                    <div class="language js"><img src="../assets/javascript.svg" alt="Javascript"></div>
                    <div class="language css"><img src="../assets/css.svg" alt="CSS"></div>
                    <div class="language api"><img src="https://img.icons8.com/color/60/000000/api.png" /></div>
                </div>

                <div class="languages-timeline">
                    <div class="language-header">Timeline</div>
                    <div class="timeline">

                        <div class="language">
                            <div class="logo">
                                <img src="../assets/nodejs.svg" alt="">
                            </div>
                            <div class="information">
                                <div class="title">Node JS</div>
                                <div class="description">Learned Node JS 5 months ago..</div>
                            </div>
                        </div>

                        <div class="language">
                            <div class="logo">
                                <img src="../assets/react.svg" alt="">
                            </div>
                            <div class="information">
                                <div class="title">React JS</div>
                                <div class="description">Learned React JS 1 months ago..</div>
                            </div>
                        </div>

                        <div class="language">
                            <div class="logo">
                                <img src="../assets/firebase.svg" alt="">
                            </div>
                            <div class="information">
                                <div class="title">Firebase</div>
                                <div class="description">Learned Firebase 2 years ago..</div>
                            </div>
                        </div>

                        <div class="language">
                            <div class="logo">
                                <img src="../assets/python.svg" alt="">
                            </div>
                            <div class="information">
                                <div class="title">Python</div>
                                <div class="description">Learned Python 3 years ago..</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="section-heading"><a href="#">MY PROJECTS</a></div>
        <div class="section2">
            <div class="projects-section">
                <div class="projects-container">
                    <div class="project project1">
                        <div class="screen">
                            <img src="../assets/project2.png" alt="">
                        </div>
                    </div>
                    <div class="project project2">
                        <div class="screen">
                            <img src="../assets/project2.png" alt="">
                        </div>
                    </div>
                    <div class="project project3">
                        <div class="screen">
                            <img src="../assets/project2.png" alt="">
                        </div>
                    </div>
                    <div class="project project4">
                        <div class="screen">
                            <img src="../assets/project2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-heading"><a href="#">GitHub Repositories</a></div>
        <div class="section4">
            <div class="other-projects">
                <div class="projects-list">
                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                    <div class="project">
                        <div class="project-header">
                            <span class="icon"><i class="bi bi-folder2"></i></span>
                            <div class="links">
                                <ul>
                                    <li><i class="bi bi-github"></i></li>
                                    <li><i class="bi bi-box-arrow-up-right"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="project-body">
                            <p class="title">Time to have more fun</p>
                            <p class="description">A single page web appfor helping me choose where to travel, built with Next js, MongoDB, etc.</p>
                        </div>
                        <div class="project-caption">
                            <small class="item">Next.js</small>
                            <small class="item">React</small>
                            <small class="item">MongoDB</small>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <footer class="footer-distributed">
        <hr>
        <div class="footer-inside">
            <div class="footer-center">
                <div class="footer-center-wrapper">
                    <div class="newsletter"><span>Newsletter</span>
                        <small>Traverse is an award-winning, full-service production company specializing.</small>
                        <div class="input-wrapper">
                            <input type="text" placeholder="Email">
                            <button type="submit"><i class="bi bi-send"></i></button>
                        </div>
                    </div>
                    <div><span>Policy</span>
                        <ul>
                            <li>Return Policy</li>
                            <li>Terms Of use</li>
                            <li>Security</li>
                            <li>Privacy</li>
                            <li>Sitemap</li>
                            <li>Faq</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span> Traverse is a blog for travel planner, tour guide book, &amp; learning platform. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nam ea commodi expedita? Architecto iure natus, nesciunt
                    dolorem alias sint dolor in cumque ducimus quisquam numquam similique incidunt ipsam repudiandae?
                </p>
                <div class="footer-icons">
                    <a href="#" data-toggle="tooltip" title="Facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" data-toggle="tooltip" title="Twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" data-toggle="tooltip" title="Linkedin"><i class="bi bi-linkedin"></i></a>
                    <a href="#" data-toggle="tooltip" title="Github"><i class="bi bi-github"></i></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div>
                <p class="footer-company-name">bibekshh &copy; 2022</p>
            </div>
        </div>
    </footer>

    <div class="pointer">
        <div class="centre-dot"></div>
    </div>
</body>

</html>